<div class="bar">
        <div class="menu">
            <span class="logo">
                    <img class="icon" src="/images/gurushots.jpg"><span class="guru">GuruShots</span>
            </span>                
            <span class="menuItems">
                <span>Discover</span>
                <span>Articles</span>
                <span>Exhibition</span>
                <span>partners</span>
                <span>Login</span>
                <span class="signup">Sign Up</span>                    
            </span>
            
        </div>
    </div>  