
<page-text
  class="textContainer1"
  title="firstPage.title"
  sub-title="firstPage.subtitle"
  join-now="joinNow"
>
</page-text>
<img class="img1" src="/images/image1.jpg" />

<page-text
  class="textContainer2"
  title="secondPage.title"
  sub-title="secondPage.subtitle"
  join-now="joinNow"
>
</page-text>
<div class="img2">
    <img class="item1" src="/images/item1.jpg"/><img class="gurushots1" src="/images/gurushots.png"/>
    <img class="item2" src="/images/item2.jpg"/>
    <img class="item3" src="/images/item3.jpg"/>
    <img class="item4" src="/images/item4.jpg"/>
    <img class="item5" src="/images/item5.jpg"/>
    <img class="item6" src="/images/item6.jpg"/><img class="gurushots2" src="/images/gurushots.png"/>
    <img class="item7" src="/images/item7.jpg"/><img class="gurushots3" src="/images/gurushots.png"/>
    <img class="item8" src="/images/item8.jpg"/>
    <img class="item9" src="/images/item9.jpg"/>
</div>

<page-text
  class="textContainer3"
  title="thirdPage.title"
  sub-title="thirdPage.subtitle"
  join-now="joinNow"
>
</page-text>
<img class="img3" src="/images/image3.JPG" />
